.categories {
  float: left;
  width: 160px;
  margin-right: 60px;
  margin-top: -20px;
}
.categories > label {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  cursor: pointer;
  display: flex;
  margin-top: 5px;
}

.checkmark {
  margin-right: 7px;
  height: 20px;
  width: 20px;
}

.checkmark:checked {
  accent-color: #205e61;
}

@media screen and (max-width: 800px) {
  .categories {
    float: none;
    margin-right: 30px;
    margin-top: 10px;
  }
  .categories > label {
    font-size: 12px;
    line-height: 16px;
    margin-top: 2px;
  }

  .checkmark {
    margin-right: 5px;
    height: 10px;
    width: 12px;
  }
}
