.product_cart {
  padding: 15px;
  width: 200px;
  height: 300px;
  box-shadow: 0 0 3px 2px #dadada;
  display: grid;
  grid-template-rows: 185px auto auto;
}

.product_cart_img {
  margin: 10px 0px;
  width: 100%;
  max-height: 180px;
}

.product_cart_name {
  font-weight: 400;
  font-size: 20px;
  margin: 5px 0px;
}

.product_cart_price_space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
}

.product_cart_discont {
  border: 1px solid #40c10e;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
}

.product_cart_link {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .product_cart {
    padding: 5px;
    width: 150px;
    height: 180px;
    grid-template-rows: 100px auto auto;
  }

  .product_cart_img {
    margin: 0px;
    max-height: 100px;
  }

  .product_cart_name {
    font-size: 14px;
    margin: 3px 0px;
    line-height: 13px;
  }

  .product_cart_price_space {
    margin: 0px;
  }

  .product_cart_discont {
    font-size: 14px;
  }
}
