.show_product {
  margin: 100px;
  margin-top: 50px;
}

.show_product_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show_product_grid {
  display: grid;
  grid-template-columns: 740px auto;
}

.show_product_price_section {
  margin: auto 5px;
  padding: 30px;
  border-left: 4px solid #f99417;
  border-radius: 4px;
}

.show_product_discont_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
}

.show_product_stosk,
.show_product_discount {
  font-size: 25px;
  font-weight: 700;
}

.show_product_discount {
  border: 3px solid #40c10e;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  text-align: center;
}

.show_product_price {
  font-size: 40px;
  font-weight: 700;
  line-height: 50%;
  margin-top: 20px;
  margin-left: 12px;
}

.show_product_buy {
  height: 60px;
  width: 150px;
  background-color: #f99417;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px 0px 10px;
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.show_product_buy > img {
  height: 100%;
}

.show_product_description {
  font-size: 20px;
}

.show_product_buy_block {
  display: flex;
  align-items: center;
}

.show_product_quntity_block {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.show_product_quntity_block > * {
  width: 45px;
  height: 45px;
  background-color: #f99417;
  border-radius: 20px;
  border: none;
  color: white;
  margin: 0;
  font-size: 25px;
  font-weight: 700;
}

.show_product_quntity_block h2 {
  text-align: center;
  line-height: 45px;
}

.show_product_quntity_block button {
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .show_product_grid {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .show_product {
    margin: 5px;
    margin-top: 15px;
  }

  .show_product_price_section {
    margin: auto 5px;
    padding: 10px;
  }

  .show_product_discont_box {
    margin-right: 0px;
  }

  .show_product_stosk,
  .show_product_discount {
    font-size: 20px;
  }

  .show_product_discount {
    padding: 5px;
    width: 80px;
  }

  .show_product_price {
    font-size: 30px;
    line-height: 0px;
    margin-top: 10px;
    margin-left: 0;
  }

  .show_product_buy {
    height: 40px;
    width: 100px;
    padding: 0px 10px 0px 5px;
    font-size: 20px;
  }

  .show_product_description {
    font-size: 16px;
  }

  .show_product_quntity_block > * {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }

  .show_product_quntity_block h2 {
    line-height: 30px;
  }
}
