.short_cart {
    position: relative;
}

.short_cart_icon{
    width: 55px;
}

.short_cart_count {
    position: absolute;
    background-color: #db2828;
    border-radius: 50%;
    color: white;
    width: 25px;
    height: 23px;
    padding-top: 2px;
    font-size: 16px;
    text-align: center;
    top: -15px;
    right: -10px;
}