.short_cart {
  position: relative;
}

.short_cart_icon {
  width: 55px;
}

.short_cart_count {
  position: absolute;
  background-color: #db2828;
  border-radius: 50%;
  color: white;
  width: 25px;
  height: 23px;
  padding-top: 2px;
  font-size: 16px;
  text-align: center;
  top: -15px;
  right: -10px;
}

@media screen and (max-width: 800px) {
  .short_cart_icon {
    width: 30px;
  }

  .short_cart_count {
    width: 12px;
    height: 11px;
    padding-top: 1px;
    font-size: 8px;
    top: -5px;
    right: -2px;
  }
}
