.search_form {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  font-size: 18px;
  font-weight: 700;
  color: inherit;
  font-style: inherit;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search_submit {
  width: 43px;
  height: 43px;

  border: none;
  border-left: 1px solid #ccc;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search_submit > img {
  width: 80%;
}

@media screen and (max-width: 800px) {
  .search {
    font-size: 11px;
    padding: 0px 5px;
    width: 50px;
  }

  .search_submit {
    width: 25px;
    height: 25px;
  }
}
